$brand-colors: (
    primary: (
        lighter: #f1f4f6,
        light: #d4e2ea,
        default: #7dabc4,
    ),
    secondary: (
        default: #734989,
    ),
    charcoal: (
        default: #505050,
    ),
    off-white: (
        light: #fcfcfc,
        default: #f9f9fa,
        dark: #dfdfdf,
    ),
);

$z-index-levels: (
    wrapper: 999,
);
