$brand-colors: (
    primary: (
        lighter: #f1f4f6,
        light: #d4e2ea,
        default: #7dabc4,
        dark: #4a7f98,
        darker: #45768e,
    ),
    secondary: (
        default: #734989,
    ),
    charcoal: (
        default: #505050,
    ),
    off-white: (
        light: #fcfcfc,
        default: #f9f9fa,
        dark: #dfdfdf,
    ),
    grey: (
        default: #e5e6e7,
    ),
    purple: (
        lighter: #f4f1f5,
        light: #e6d9ef,
    ),
);

$z-index-levels: (
    wrapper: 999,
    left-nav: 998,
);

$mq-responsive: true;

$mq-breakpoints: (
    small: 320px,
    medium: 740px,
    large: 1060px,
    xlarge: 1270px,
    xxlarge: 1500px,
);

$mq-static-breakpoint: desktop;
