$brand-colors: (
    primary: (
        lighter: #f1f4f6,
        light: #d4e2ea,
        default: #7dabc4,
        dark: #4a7f98,
    ),
    secondary: (
        default: #734989,
    ),
    charcoal: (
        default: #505050,
    ),
    off-white: (
        light: #fcfcfc,
        default: #f9f9fa,
        dark: #dfdfdf,
    ),
);

$z-index-levels: (
    wrapper: 999,
    left-nav: 998,
);

$mq-responsive: true;

$mq-breakpoints: (
    small: 320px,
    medium: 740px,
    large: 980px,
    xlarge: 1270px,
);

$mq-static-breakpoint: desktop;
