.gitattributes
.DS_Store
*/.DS_Store
composer.lock
vendor/
node_modules/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/
database/backups/

# Laravel 5 & Lumen specific
bootstrap/cache/
storage/
.env.*.php
.env.php
.env

#PHPStorm project
.idea

