body {
  color: #505050;
  background: #f9f9fa;
}

.main-content {
  background-color: white;
}

.btn-primary .fa {
  color: white;
}

.fa-inbox {
  font-size: 115%;
  transform: translate3d(-12%, 0, 0);
}

.fa-forge {
  background-image: url(/images/icons/forge.png);
  background-size: contain;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.table-heading td {
  padding-bottom: 2rem !important;
}

.table-heading:hover {
  background-color: transparent !important;
}

textarea {
  width: 100%;
  padding: 1.5rem;
  border: #e5e6e7 thin solid;
}

.navbar-fixed-top {
  background: #f9f9fa;
}

.navbar-default {
  height: 100%;
  background: -webkit-linear-gradient(top, #7dabc4 0%, #f9f9fa 30%);
}

.navbar-static-side {
  z-index: 0;
}

@media (min-width: 79.375em) {
  .navbar-static-side {
    z-index: 998;
  }
}

.mini-navbar .navbar-static-side {
  z-index: 0;
}

#page-wrapper {
  z-index: 999;
  border-left: 1px solid #dfdfdf;
  margin: 50px 0 0 300px;
  padding: 40px 40px;
  overflow-y: auto;
}

@media (min-width: 66.25em) {
  #page-wrapper {
    padding: 40px 80px;
  }
}

.bookmark {
  position: fixed;
  top: 45px;
  right: 70px;
  font-size: 7em;
  transform: scale(0.6, 1);
  color: #734989;
  opacity: 0.2;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.bookmark.active,
.bookmark:hover {
  opacity: 1;
  cursor: pointer;
}

nav .glyphicon-bookmark {
  position: relative;
  top: 2px;
}

.vertical-timeline-content {
  border: thin solid #e6d9ef !important;
  background: #f3f0f5 !important;
}

@media (min-width: 93.75em) {
  .forge-site {
    width: 33.3333333%;
  }
}

.forge-site__inner {
  border: thin solid #dfdfdf;
  margin: 0.5rem;
}

.forge-site__heading {
  border-bottom: thin solid #dfdfdf;
  margin: 0;
  padding: 1rem 2rem;
  background: #f9f9fa;
}

.forge-site__content {
  background: white;
  padding: 2rem 2rem 1.25rem;
  margin: 0;
}

.forge-site__options {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 0.5rem;
}

.forge-site__log {
  padding: 3rem !important;
  font-size: 10px !important;
}

.dropdown-button {
  position: relative;
}

.dropdown-button:hover .dropdown-button__list {
  display: block;
}

.dropdown-button__list {
  text-align: right;
  display: none;
  padding: 0.5rem 1rem !important;
  position: absolute;
  background: #45768e;
  right: -1px;
  margin-top: 9px;
  border-radius: 4px;
  z-index: 1;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
}

.dropdown-button__list:before {
  content: "";
  position: absolute;
  top: -6px;
  right: 0px;
  height: 9px;
  width: 33px;
}

.dropdown-button__list-item {
  margin: 5px 0 !important;
}

.dropdown-button__link {
  padding: 3px 1rem !important;
  color: white !important;
}

.dropdown-button__link:hover {
  background: #528da9;
  border-radius: 20px;
}

.warn {
  border: thin solid #ffdb98;
  background: #ffedcb;
  padding: 2rem;
  border-radius: 5px;
}

.tabs-component-tabs {
  margin: 4rem 0 0 0;
  padding: 0rem;
  position: relative;
  top: 1px;
}

@media (min-width: 64.375em) {
  .tabs-component-tabs {
    padding-left: 1rem;
    display: flex;
  }
}

.tabs-component-tab {
  font-size: 10px;
  list-style: none;
  background: #f9f9fa;
  display: flex;
  border: #dfdfdf thin solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tabs-component-tab.is-active {
  background: white;
  border-bottom-color: white;
}

@media (min-width: 79.375em) {
  .tabs-component-tab {
    font-size: 13px;
  }

  .tabs-component-tab:not(:first-child) {
    border-left: 0;
  }
}

.tabs-component-tab-a {
  padding: 0.5rem 1rem;
}

@media (min-width: 79.375em) {
  .tabs-component-tab-a {
    padding: 1rem 1.5rem;
  }
}

.tabs-component-panels {
  background: white;
  padding: 2.5rem 3rem;
  border: #dfdfdf thin solid;
}

/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   NAME - GLASS BOX SKIN
 *
*/

.blank-box-skin .navbar-top-links li:last-child {
  margin-right: 30px;
}

.blank-box-skin.fixed-nav .minimalize-styl-2 {
  margin: 14px 5px 5px 15px;
}

.blank-box-skin .spin-icon {
  background: #4a7f98 !important;
}

.blank-box-skin .nav-default {
  height: 100%;
}

.blank-box-skin .nav-header {
  background: transparent;
}

.blank-box-skin.mini-navbar .nav-second-level {
  background: #efefef;
}

.blank-box-skin .breadcrumb {
  background: transparent;
}

.blank-box-skin .page-heading {
  border: none;
}

.blank-box-skin .nav > li > a {
  color: #3d3d3d;
}

.blank-box-skin .navbar-minimalize {
  background: #4a7f98;
  border-color: #4a7f98;
}

.blank-box-skin .navbar-static-top {
  background: #ffffff;
}

.blank-box-skin .dashboard-header {
  background: transparent;
  border-bottom: none !important;
  border-top: none;
  padding: 20px 30px 10px 30px;
}

.fixed-nav.blank-box-skin .navbar-fixed-top {
  background: #fff;
}

.blank-box-skin .wrapper-content {
  padding: 30px 15px;
}

.blank-box-skin .ibox-title,
.blank-box-skin .ibox-content {
  border-width: 1px;
}

.blank-box-skin .ibox-content:last-child {
  border-style: solid solid solid solid;
}

.blank-box-skin .nav:not(.nav-second-level) > li.active {
  border-left: none;
  color: #222;
  background: rgba(255, 255, 255, 0.64);
}

.blank-box-skin .nav-header a.dropdown-toggle {
  color: #fff;
  margin-top: 10px;
}

.blank-box-skin .nav-header a.dropdown-toggle .text-muted {
  color: #fff;
  opacity: 0.8;
}

.blank-box-skin .profile-element {
  text-align: center;
}

.blank-box-skin .img-circle {
  border-radius: 5px;
}

.blank-box-skin .navbar-default .nav li > a:hover,
.blank-box-skin .navbar-default .nav li > a:focus,
.blank-box-skin .navbar-default .nav li > a:active {
  background: rgba(255, 255, 255, 0.64);
  color: #222;
}

.blank-box-skin .navbar-default .nav li:not(.active) > li > a:hover,
.blank-box-skin .navbar-default .nav li:not(.active) > li > a:focus,
.blank-box-skin .navbar-default .nav li:not(.active) > li > a:active {
  background: #e2e2e2;
  color: #fff;
}

.blank-box-skin .navbar-default .nav-second-level > li > a:hover {
  color: #fff;
}

.blank-box-skin .navbar-default .nav-second-level > li > a:focus {
  background: #e2e2e2;
  color: #fff;
}

.blank-box-skin .nav.nav-tabs > li.active > a {
  color: #555;
}

.blank-box-skin .nav.nav-tabs > li.active {
  background: transparent;
}

.blank-box-skin .nav li a {
  color: #3d3d3d !important;
}

.blank-box-skin .nav-header span {
  color: #303030;
}

.blank-box-skin .nav-header {
  border-bottom-color: none;
}

.blank-box-skin .btn-primary.btn-outline {
  color: #4a7f98;
}

.blank-box-skin .btn-primary {
  background-color: #4a7f98;
  border-color: #4a7f98;
}

.blank-box-skin .btn-primary:hover,
.blank-box-skin .btn-primary:focus,
.blank-box-skin .btn-primary:active,
.blank-box-skin .btn-primary.active,
.blank-box-skin .open .dropdown-toggle .btn-primary,
.blank-box-skin .btn-primary:active:focus,
.blank-box-skin .btn-primary:active:hover,
.blank-box-skin .btn-primary.active:hover,
.blank-box-skin .btn-primary.active:focus {
  background-color: #45768e;
  border-color: #45768e;
}

.blank-box-skin .btn-primary.disabled,
.blank-box-skin .btn-primary.disabled:hover,
.blank-box-skin .btn-primary.disabled:focus,
.blank-box-skin .btn-primary.disabled:active,
.blank-box-skin .btn-primary.disabled.active,
.blank-box-skin .btn-primary[disabled],
.blank-box-skin .btn-primary[disabled]:hover,
.blank-box-skin .btn-primary[disabled]:focus,
.blank-box-skin .btn-primary[disabled]:active,
.blank-box-skin .btn-primary.active[disabled],
.blank-box-skin fieldset[disabled] .btn-primary,
.blank-box-skin fieldset[disabled] .btn-primary:hover,
.blank-box-skin fieldset[disabled] .btn-primary:focus,
.blank-box-skin fieldset[disabled] .btn-primary:active,
.blank-box-skin fieldset[disabled] .btn-primary.active {
  background-color: #518aa6;
  border-color: #518aa6;
}

.blank-box-skin .btn-link:hover,
.blank-box-skin .btn-link:focus,
.blank-box-skin .btn-link:active,
.blank-box-skin .btn-link.active,
.blank-box-skin .open .dropdown-toggle.btn-link {
  color: #4a7f98;
}

.blank-box-skin button.btn-primary.dim {
  box-shadow: inset 0 0 0 #406e83, 0 5px 0 0 #406e83, 0 10px 5px #999;
  -mox-box-shadow: inset 0 0 0 #406e83, 0 5px 0 0 #406e83, 0 10px 5px #999;
  -webkit-box-shadow: inset 0 0 0 #406e83, 0 5px 0 0 #406e83, 0 10px 5px #999;
}

.blank-box-skin button.btn-primary.dim:active {
  box-shadow: inset 0 0 0 #406e83, 0 2px 0 0 #406e83, 0 5px 3px #999;
  -mox-box-shadow: inset 0 0 0 #406e83, 0 2px 0 0 #406e83, 0 5px 3px #999;
  -webkit-box-shadow: inset 0 0 0 #406e83, 0 2px 0 0 #406e83, 0 5px 3px #999;
}

.blank-box-skin .label-primary,
.blank-box-skin .badge-primary {
  background-color: #4a7f98;
  color: #FFFFFF;
}

.nav-second-level li.active {
  border-left: none;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
  background-color: #e7e7e7;
}

.blank-box-skin .pace .pace-progress {
  background: #4a7f98;
}

.blank-box-skin li.spacer hr {
  border-color: #dbdbdb;
}

.blank-box-skin li.spacer:first-child hr {
  border-color: #565656;
}

.blank-box-skin a:not(.btn),
.blank-box-skin .green-text:not(.btn),
.blank-box-skin a:visited:not(.btn) {
  color: #4a7f98;
}

.blank-box-skin a:active:not(.btn),
.blank-box-skin a:focus:not(.btn),
.blank-box-skin a:hover:not(.btn) {
  color: #6999b0;
}

.blank-box-skin .module-menu {
  background-color: #edeff1;
}

.blank-box-skin .btn-white {
  border-color: #8c7b80;
}

.blank-box-skin .navbar-header .add-new .fa-plus {
  color: #73a0b5;
}

.blank-box-skin .logo-space a {
  color: #4D5356 !important;
}

.blank-box-skin .dropdown.profile-element ul li a {
  color: #3d3d3d;
}

