h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
h1 {
  font-size: 45px;
}
h2 {
  font-size: 30px
}
h3 {
  font-size: 24px;
  margin-bottom:0.4em;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 12px;
  margin-top: 5px;
  font-weight: 600;
}
h6 {
  font-size: 10px;
}

h4 span {
    font-style: italic;
    font-size: 70%;
    color: #8D8D8D;
    font-weight: normal;
    margin-left: 1em;
}

.navbar .btn {
  padding: 4px 10px;
  margin: 14px 5px 5px 17px
}

.navbar {
    border-bottom-color: #D8D8D8 !important;
    box-shadow: 0 0 20px 0 rgba(0,0,0, 0.5);
}

body:not(.mini-navbar) .nav-header {
  background-size: 100% !important;
}

.navbar-header {
    width: 100%;
}

.bottom-offset-3 {
    margin-bottom: 3em;
}

.navbar-static-side {
    margin-top: 60px;
}

navbar .form-control, .single-line {
    width: auto;
}

.logo-space i {
  position: relative;
  top: 2px;
  font-size: 30px;
}

.logo-space {
  display: inline;
}

.logo-space a {
  width:@sidebar-width;
  float:left;
  color:#4D5356;
  padding: 6px 15px 7px;
  font-size: 25px;
}

.logo-space a:active,
.logo-space a:hover,
.logo-space a:focus {
  color:#656B6F !important;
}


#page-wrapper {
  margin: 50px 0 0 @sidebar-width;
  padding: 40px 80px;
  overflow-y: scroll;
}

.bigger-icon {
    font-size: 18px;
    padding-right: 0;
}

.navbar-form-custom {
  width:50%;
}

.navbar-form-custom .easy-autocomplete {
  width:100%%;
}

.navbar-form-custom .form-control {
    min-height: 50px;
    height: 50px;
}

.navbar-static-side {
  margin-top: 50px;
}

.navbar .glyphicon-search {margin-left:0;}

.italic {font-style: italic;}

.error-message {
    padding: 1em 1.5em;
    border: #CFA9A9 solid thin;
    border-radius: 5px;
}

#config-generator  .help-block {margin-top:-3em; margin-bottom:2em}
#config-generator input {width:400px;} 
#config-generator input.prefix-field {padding-left: 41px;} 
.config-prefix {
  position: relative;
  top:-27px;
  left: 10px;
  font-size: 14px;
}

code {
  background-color: #E0E8ED;
  border-radius: 0;
  color:#222;
  padding-left:0;
}

code span {
    color: #9CA6AB;
}
.text-right {text-align:right;}
.text-center {text-align:center;}

a {
  color: #72A046;
}

a:active,
a:focus,
a:hover {
  color: #8db863;
}

h3 i {
  font-size: 80%;
}

nav ul ul li {
    font-size: 90%;
    position: relative;
    top:1px;
}

i.bookmark {
  position: fixed;
  top:45px;
  right:70px;
  font-size: 7em;
  -webkit-transform:scale(0.6, 1.0);
  -moz-transform:scale(0.6, 1.0);
  -ms-transform:scale(0.6, 1.0);
  -o-transform:scale(0.6, 1.0);
  transform:scale(0.6,1.0);
  color:#EC7631;
  opacity: 0.2;
  text-shadow: 0 0 10px rgba(0,0,0,0.4);
}
i.bookmark.active,
i.bookmark:hover {
  opacity:1;
  cursor: pointer;
}

nav i.glyphicon-bookmark {
  position: relative;
  top:2px;
}

.diagram table {margin-top:0;}

#top-search {
  box-shadow:none;
  width:95%;
}

.top-offset-2 {margin-top:2em;}

.topbar-icons {
    font-size: 1.5em;
    padding: 0.55em 0.8em 0.55em 0;
}

.right {float:right}

.mini-navbar .nav-second-level .nav-label {
  display: inline-block !important;
}

.mini-navbar .nav-third-level li a {
  display: inline-block !important;
}

.nav-third-level li a {
    padding-left: 80px;
}

body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav li:hover > .nav-second-level, .mini-navbar .nav li:focus > .nav-second-level {
    min-width: 250px;
}

.mini-navbar .nav-second-level li:last-child {
    margin-bottom: 2px;
}

body.mini-navbar #page-wrapper {
    margin: 50px 0 0 70px;
}

.navbar-header .glyphicon-search { top:-1px }

.nav-header {
  padding: 20px 0 19px 0;
}

.nav-header span {
  font-size:28px;
  color:#fff
}

.module-menu {
  background-color: #C7CDD3;
  width:@sidebar-width - 45px;
  left: 20px;
  color:#000;
  padding: 5px 4px;
  font-size:14px;
  box-shadow: 0 0 20px 0px rgba(60,60,60,0.5);
}

.module-menu a:hover {
  background-color: #D5DBE1 !important;
  color:#000 !important;
}

table.table {
  border: none;
}

table.table th {
  font-size:24px;
  font-weight:normal;
}

table.table th, table.table td {
  background-color: #F4F6FA ;
  border:none !important;
}

.table-hover > tbody > tr:not(.table-heading):hover td,
.highlight-row td {
    background-color: #F5F4CF !important;
}

table tr.table-heading td {
  padding-top:2em;
}

.chapter-list p {
  font-style: italic;
}

.chapter-list {
  list-style: none;
  margin: 1em 0 0 0;
  padding: 0.2em 1em;
}

.chapter-list li {
  margin:2em 0;
}

.chapter-list li i {
  font-size: 77%;
}
.chapter-list li i.fa-file-o,
.chapter-list li i.fa-group {
  top: -2px;
  position: relative;
}

.commands-list {
  padding-left: 1.5em;
}

.modal-dialog {  
    margin: 180px auto;
    margin: 25vh auto;
}

a.tooltip-trigger i {color: #929292}

.new-page {
  margin-right:0.5em;
}

.new-page i {
  position: relative;
}

.new-page .fa-file-o {
  top: -1px;
}

.new-page .fa-plus {
  font-size:80%;
  top: 4px;
  right: 5px;
}
