h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
h1 {
  font-size: 45px;
}
h2 {
  font-size: 30px
}
h3 {
  font-size: 24px;
  margin-bottom:0.4em;
  margin-top: 1.4em;
}
h4 {
  font-size: 18px;
}
.generated-page-content h4 {
  margin-top: 2em;
}
h5 {
  font-size: 12px;
  margin-top: 5px;
  font-weight: 600;
}
h6 {
  font-size: 10px;
}

h4 span {
  font-style: italic;
  font-size: 70%;
  color: #8D8D8D;
  font-weight: normal;
  margin-left: 1em;
}

h2 .label {
  position: relative;
  top: -5px;
}

.navbar .btn {
  padding: 4px 10px;
  margin: 14px 5px 5px 17px
}

.navbar {
    border-bottom-color: #D8D8D8 !important;
    box-shadow: 0 0 20px 0 rgba(0,0,0, 0.5);
}

body:not(.mini-navbar) .nav-header {
  background-size: 100% !important;
}

.navbar-header {
    width: 100%;
}

.bottom-offset-3 {
    margin-bottom: 3em;
}

.navbar-static-side {
    margin-top: 60px;
}

navbar .form-control, .single-line {
    width: auto;
}

.logo-space i {
  position: relative;
  top: 2px;
  font-size: 30px;
}

.logo-space {
  display: inline;
}

.logo-space a {
  width:@sidebar-width;
  float:left;
  color:#4D5356;
  padding: 6px 15px 7px;
  font-size: 25px;
}

.logo-space a:active,
.logo-space a:hover,
.logo-space a:focus {
  color:#656B6F !important;
}

.bigger-icon {
    font-size: 18px;
    padding-right: 0;
}

.navbar-form-custom {
  width:40%;
}

.navbar-form-custom .easy-autocomplete {
  width:100%%;
}

.navbar-form-custom .form-control {
    min-height: 50px;
    height: 50px;
}

.navbar-static-side {
  margin-top: 50px;
}

.navbar .glyphicon-search {margin-left:0;}

.italic {font-style: italic;}

.error-message {
    padding: 1em 1.5em;
    border: #CFA9A9 solid thin;
    border-radius: 5px;
}

#config-generator  .help-block {margin-top:-3em; margin-bottom:2em}
#config-generator input {width:400px;}
#config-generator input.prefix-field {padding-left: 41px;}
.config-prefix {
  position: relative;
  top:-27px;
  left: 10px;
  font-size: 14px;
}

.text-right {text-align:right;}
.text-center {text-align:center;}

a {
  color: #72A046;
}

a:active,
a:focus,
a:hover {
  color: #8db863;
}

h3 i {
  font-size: 80%;
}

nav ul ul li {
    font-size: 85%;
    position: relative;
    top:1px;
}

.diagram table {margin-top:0;}

#top-search {
  box-shadow:none;
  width:95%;
}

.top-offset-2 {margin-top:2em;}

.right {float:right !important}

.nav-second-level li a {
  font-weight: normal !important;
}
.mini-navbar .nav-second-level .nav-label {
  display: inline-block !important;
}

.mini-navbar .nav-third-level li a {
  display: inline-block !important;
}

.nav-third-level li a {
    padding-left: 80px;
}

body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav li:hover > .nav-second-level, .mini-navbar .nav li:focus > .nav-second-level {
    min-width: 250px;
}

.mini-navbar .nav-second-level li:last-child {
    margin-bottom: 2px;
}

body.mini-navbar #page-wrapper {
    margin: 50px 0 0 70px;
}

.navbar-header .glyphicon-search { top:-1px }

.nav-header {
  padding: 20px 0 19px 0;
}

.nav-header span {
  font-size:28px;
  color:#fff
}

.module-menu {
  background-color: #C7CDD3;
  width:@sidebar-width - 45px;
  left: 20px;
  color:#000;
  padding: 5px 4px;
  font-size:14px;
  box-shadow: 0 0 20px 0px rgba(60,60,60,0.5);
}

.module-menu a:hover {
  background-color: #D5DBE1 !important;
  color:#000 !important;
}

table.table {
  border: none;
}

table.table th {
  font-size:24px;
  font-weight:normal;
}

table.table th, table.table td {
  border:none !important;
}

.table-hover > tbody > tr:not(.table-heading):hover td,
.highlight-row td {
    background-color: #dde6ed !important;
}

table tr.table-heading td {
  padding-top:2em;
}

.chapter-list {
  list-style: none;
  margin: 1em 0 0 0;
  padding: 0.2em 1em;
}

.chapter-list li {
  margin:2em 0;
}

.chapter-list li i {
  font-size: 77%;
}
.chapter-list li i.fa-file-o,
.chapter-list li i.fa-group {
  top: -2px;
  position: relative;
}

.commands-list {
  padding-left: 1.5em;
}

.modal-dialog {
    margin: 180px auto;
    margin: 15vh auto;
}

a.tooltip-trigger i {color: #929292}

.topbar-icons {
    font-size: 1.5em;
    padding: 0.55em 0.8em 0.55em 0;
}

.add-new {
  margin-right:0.5em;
}

.add-new i {
  position: relative;
  top: -1px;
}

.add-new .fa-plus {
  font-size:80%;
  top: 4px;
  color:#548228;
  right: 5px;
}

.topbar-icons .fa-folder-open-o{
    font-size: 1.2em;
    top:1px
}

.btn-default {
  border-color: #D4D4D4;
}

.bg-success {
    border: thin solid #B1CEA6;
}

#approve-button {
  padding: 14px 10px;
}

li.spacer {
    padding: 0 20px;
}

li.spacer hr {
    border-color:#405D6D;
}

.ibox-content {
  padding-bottom:15px;
  border-color: #E0E4E6;
}

h5.tags {
  margin-bottom:8px;
}

.curation-list {
  border-color: #E3E6E8;
}

.page-content {
  padding:20px 30px 30px;
  border:thin solid #d4e2ea;
}

.approve-link {
  float:right;
}

.page-options {
  min-width:200px;
}

.btn-group.page-options > .btn,
.btn-group.page-options > form > .btn {
  float: right !important;
}

.page-options.btn-group > .btn:first-child:not(:last-child),
.page-options.btn-group > form:first-child:not(:last-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-left: -1px;
}

.page-options.btn-group > .btn:last-child:not(:first-child),
.page-options.btn-group > form:last-child:not(:first-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-right: 0;
}

del, del li {
    margin-right: 0.5em;
}

ins, ins li {
  background-color: #bde6a4;
}

.diff-container {
    padding: 1em 4em 3em 4em;
    border: thin solid #dedbdb;
    background-color: #fff;
    margin-bottom: 3em;
    box-shadow: 0 0 15px 0px rgba(0,0,0,0.1);
}

.green-text {
  color: #548228;
}

.grey-text {
  color: #a9a9a9;
}

ol li {
  margin: 0.5em;
}

.badge-image {
  text-align: center;
  width:100%;
  margin:1em;
}

.large-badge {
  width:200px;
}

.badge-image p {
  text-align:center;
}

.badge-image img {
  width:100%;
}

.left {float:left !important;}

img.not-earned,
.not-earned img {
  opacity: 0.2;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}
.not-earned p {
  opacity: 0.5;
  color:#888;
}

.badge-container {
  margin-left: -3em;
}

.badge-cell {
  width:14% !important;
}
.pointer {
  cursor: pointer;
}

#tag-select {
  width:100%;
}

.vertical-timeline-icon img {
  width:100%;
}

.vertical-timeline-content {
  border: thin solid #d4e2ea !important;
  padding-bottom: 1.3em !important;
}

.vertical-timeline-icon {
  left: 49.2% !important;
  border-color:transparent;
  background-color:transparent;
  width:70px !important;
  height:70px !important;
}

.feed-icon {
  margin-top: 0.66em !important;
  margin-left: -0.6em !important;
  color: #8daed0 !important;
  font-size: 105% !important;
}

.vertical-date {margin-top:0.9em}
.vertical-date small {color:#222}

.center-orientation .vertical-timeline-content::before {
  border-left-color: #d4e2ea;
}
.center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content::before {
  border-right-color: #d4e2ea;
}

.icon-circle i {
  position: relative;
  top: -0.09em;
  left: 1.1em;
}

.icon-circle {
  background-color: #ffffff;
  border: #dbdbdb 4px solid;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 0.25em;
}

.row-first-content {
  margin-bottom:4em;
}

hr {
  border-top: 1px solid #e6e3e3;
}

code, pre:not(.CodeMirror-line) {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    margin: 1rem 0 2rem;
    padding: 0.2rem 0.6rem;
}

pre:not(.CodeMirror-line) {
    padding: 0.6em 0.6em;
    border-radius: 4px;
}

li pre {
    margin-left: -3.6em;
}

ul.no-bullet {
  padding: 0;
}

ul.no-bullet li {
  padding: 0.2rem 0;
  list-style: none;
}

li.no-bullet {
  list-style: none;
}

.editor-toolbar {
  background: white;
  border: 1px solid #eee;
  border-bottom: 0;
  opacity: 1;
}

.row-first-content p,
.row-first-content ul,
.row-first-content img,
pre.code-toolbar,
.row-first-content ol {
  margin-bottom: 2rem;
}

pre:not(.CodeMirror-line) + pre:not(.CodeMirror-line) {
  margin-top: -1rem;
}

.CodeMirror-fullscreen,
.editor-toolbar.fullscreen {
  z-index: 9999;
}

.editor-preview pre,
.editor-preview-side pre {
  background: #282c34;
  margin-bottom: 2rem;
}

.row-first-content {
  width:100%;
}

.row-first-content img {
  max-width: 100%;
}

body .nav li.collapsed-chapter-title {
  font-weight: 700;
  font-size: 1.7em;
  padding-bottom: 0.5em;
  margin-left: 0.7em;
  display: none;
}

.mini-navbar .nav li.collapsed-chapter-title {
  display: block;
}

@media (max-width: 1170px) {
  .vertical-timeline-content:before {
    border-left: 0;
  }
}

.vertical-timeline-content h4 {
  margin-top:0.5em;
}

pre.code-toolbar {
  margin-top:-1em;
}

li pre.code-toolbar {
  margin-top: 1em;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code {
  font-weight: bold;
}

.border-left {
  border-left: solid 2px #4BA2C9;
  padding-left: 1rem;
}

.twenty-percent {
  width: 20%;
  min-width: 220px;
}

.fifteen-percent {
  width: 15%;
  min-width: 150px;
}

.table-heading h4 {
  margin: 0;
}

.table-heading:first-child td {
  padding-top: 1em;
}

.hide-until-hover {
  visibility: hidden;
}

tr:hover .hide-until-hover {
  visibility: visible;
}

.icon-column {
  min-width: 55px;
  text-align: right;
}

.hidden-anchor {
  position: relative;
  top: -75px;
}

.status-message p {
  margin-bottom: 0.9em;
  margin-top: 0.9em;
}

.status-message i {
margin-right: 0.5em;
}

